In [1]:
import pandas as pd

# CSV dosyalarını oku
df_investigations = pd.read_csv("islenmis_investigations.csv")
df_car_models = pd.read_csv("islenmis_car_models.csv")

# İlk birkaç satıra göz at
df_investigations.head()

,NHTSA ACTION NUMBER,MAKE,MODEL,YEAR,COMPNAME,MFR_NAME,ODATE,CDATE,CAMPNO,SUBJECT,SUMMARY
0,AQ08001,PACE AMERICAN,trailer,2003.0,WHEELS,"PACE AMERICAN, INC.",20080618.0,20081029.0,NaN,PACE AMERICAN 573 RETRACTION,by letter dated november 8 2007 pace american ...
1,AQ08001,PACE AMERICAN,trailer,2004.0,WHEELS,"PACE AMERICAN, INC.",20080618.0,20081029.0,NaN,PACE AMERICAN 573 RETRACTION,by letter dated november 8 2007 pace american ...
2,AQ08001,PACE AMERICAN,trailer,2005.0,WHEELS,"PACE AMERICAN, INC.",20080618.0,20081029.0,NaN,PACE AMERICAN 573 RETRACTION,by letter dated november 8 2007 pace american ...
3,AQ08001,PACE AMERICAN,trailer,2006.0,WHEELS,"PACE AMERICAN, INC.",20080618.0,20081029.0,NaN,PACE AMERICAN 573 RETRACTION,by letter dated november 8 2007 pace american ...
4,AQ09001,APEXCONE,apx9004,9999.0,EXTERIOR LIGHTING,CARFILO,20090326.0,20090706.0,05E069000,HID REPLACEMENT KIT RECALL CAMPAIGNS,rmd identified several hid replacement lightin...

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Eksik değerleri boş metinle doldur
df_investigations['Summary'] = df_investigations['Summary'].fillna("")

# TF-IDF vektörleştirici oluştur
vectorizer = TfidfVectorizer(stop_words='english', max_features=1000)

# TF-IDF matrisini oluştur
tfidf_matrix = vectorizer.fit_transform(df_investigations['Summary'])

# Matriksi DataFrame'e çevir
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())

# Sonucu incele
tfidf_df.head()

KeyError: 'Summary'

In [3]:
df_investigations.columns

Index(['NHTSA ACTION NUMBER', 'MAKE', 'MODEL', 'YEAR', 'COMPNAME', 'MFR_NAME',
       'ODATE', 'CDATE', 'CAMPNO', 'SUBJECT', 'SUMMARY'],
      dtype='object')

In [4]:
df_investigations.columns

Index(['NHTSA ACTION NUMBER', 'MAKE', 'MODEL', 'YEAR', 'COMPNAME', 'MFR_NAME',
       'ODATE', 'CDATE', 'CAMPNO', 'SUBJECT', 'SUMMARY'],
      dtype='object')

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

# Eksik değerleri boş metinle doldur
df_investigations['SUMMARY'] = df_investigations['SUMMARY'].fillna("")

# TF-IDF vektörleştirici oluştur
vectorizer = TfidfVectorizer(stop_words='english', max_features=1000)

# TF-IDF matrisini oluştur
tfidf_matrix = vectorizer.fit_transform(df_investigations['SUMMARY'])

# Matriksi DataFrame'e çevir
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())

# Sonucu göster
tfidf_df.head()

,06e066,06e080,07e084,10000000,11481745,12,13,15000000,180,20052021,...,vicinity,warning,warranted,warranty,wheel,wheels,written,wus,year,years
0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.109537,0.0,...,0.0,0.0,0.000000,0.109537,0.109537,0.109537,0.0,0.000000,0.0,0.0
1,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.109537,0.0,...,0.0,0.0,0.000000,0.109537,0.109537,0.109537,0.0,0.000000,0.0,0.0
2,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.109537,0.0,...,0.0,0.0,0.000000,0.109537,0.109537,0.109537,0.0,0.000000,0.0,0.0
3,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.108628,0.0,...,0.0,0.0,0.000000,0.108628,0.108628,0.108628,0.0,0.000000,0.0,0.0
4,0.216207,0.072069,0.144138,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.039964,0.000000,0.000000,0.000000,0.0,0.072069,0.0,0.0